<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" backupGlobals="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="app">
      <directory>tests/TestCase/</directory>
    </testsuite>
  </testsuites>
  <!-- Prevent coverage reports from looking in tests, vendors, config folders -->
  <php>
    <ini name="memory_limit" value="-1"/>
    <!-- E_ALL & ~E_USER_DEPRECATED (16383)-->
    <!-- E_ALL (32767) -->
    <ini name="error_reporting" value="32767"/>
  </php>
</phpunit>
